# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.venv/

# Tests
.pytest_cache/
playwright-report/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# Test results
test-results
test-results/playwright/